/*GLOBALS*/


/*NAV BAR*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

nav img {
    width: 150px;
    height: auto;
}


nav div {
    display: flex;
    align-items: center;
}

.hamburguer {
    width: 70px;
    height: auto;
}

.search input {
    height: 30px;
    width: 450px;
}

.search img{
    height: 29px;
    width: auto; 
}

.search button {
    background-color: rgb(245, 245, 245);
    border: solid gray 0.1px;
    width: 70px;
}

.search .mic {
    height: 23px;
    margin-left: 10px ;
}

.user {
    gap: 20px;
}

.user img {
    height: auto;
    width: 40px;
}
.user img:nth-child(1),
.user img:nth-child(2) {
    height: 20px;
    width: auto;
}

.user img:last-child{
    border-radius: 30px;
    margin-right: 20px;
}

/*VIDEO*/
.structure {
    display: flex;
    justify-content: space-around;
}

.suggestion {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.suggestion h5 {
    margin-top: 0;
    margin-left: 10px;
    height: 10px;
    margin-right: 100px;
}

.suggestion p {
    font-size: 10px;
    width: 300px;
    margin-top: 0;
    margin-left: 10px;
}




/*SIDE-BAR*/